
@{
    ViewBag.Title = "AdjustQuantity";
}

<h2>AdjustQuantity</h2>

<form method="post" action="">



    Please enter a new quantity:<br />
    <input type="text" name="quantity" value="" /><br />

    <input type="submit" value="Submit" class="submit" />


</form>
