
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>
<h4>Customer</h4>

<form method="post" action="">
  
    
    Order Total:<br />
    <input type="text" name="OrderTotal" value="" /><br />
    First Name:<br />
    <input type="text" name="FirstName" value="" /><br /><br />
    Last Name:<br />
    <input type="text" name="LastName" value="" /><br />
    House Number:<br />
    <input type="text" name="HouseNumber:" value="" /><br /><br />
    Street Name:<br />
    <input type="text" name="StreetName" value="" /><br />
    Town:<br />
    <input type="text" name="ContactName" value="" /><br /><br />
    County:<br />
    <input type="text" name="County" value="" /><br /><br />
    Post Code:<br />
    <input type="text" name="PostCode" value="" /><br /><br />
    Card Number:<br />
    <input type="text" name="CardNumber" value="" /><br /><br />






    <input type="submit" value="Submit" class="submit" />
</form>